@font-face{
    font-family: "strenuous bl";
    src: url('../media/strenuous\ bl.ttf');
}

*{
    margin: o;
    padding: 0;
}
body{
    background-image: url(../media/minion\ patin.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100% ;
}

.border{
    border: solid 1px black;
} 
header{
    grid-area: header;
    height: 100px;
    background-image: url(../media/pngegg2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 400px;height: 80px;

}
nav{
    grid-area: nav;
    height: 100px;     
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
}
nav ul li{
    font-family: "strenuous bl";
    list-style-type: none;
    
}
#dropdown{
    text-align: center;
    
    
}

section{
    grid-area: section;
    height: 550px;
}

footer{
    grid-area: footer;
    height: 20px;
}
#grid{
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header nav" "section section" "footer footer";



}

