@font-face{
    font-family: "strenuous bl";
    src: url('../media/strenuous\ bl.ttf');
}

*{
    margin: o;
    padding: 0;
}
body{
   
}

.border{
    border: solid 1px black;
} 
header{
    grid-area: header;
}
nav{
    grid-area: nav;
           
}
nav ul li a{
    font-family: "strenuous bl";
    list-style-type: none;    
}
section{
    grid-area: section;
    height: 650px;
    background-image: url(../media/minion\ patin.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100% ; 

}aside{
    grid-area: aside;
    margin: 50px;   
}

footer{
    grid-area: footer;
    height: 50px;
    text-align: right ;
    margin: 45px;
    
}

#grid{
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: auto auto auto auto;
    row-gap: 80px;
    grid-template-areas: "header nav" "section section" "aside aside" "footer footer";



}

